@import "palette.scss";

.room {
  text-align: left;
  border-left: 3px solid $pink;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease-out;

  &:hover {
    transform: translateY(-5px);
  }

  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    text-align: right;
    color: #666;
    font-weight: 600;
  }

  .name {
    margin-top: 3px;
    margin-bottom: 1px;
  }

  .location,
  .capacity,
  .size {
    color: #888;
  }

  .equipment {
    font-weight: 600;
  }
}
